spring:
  application:
    name: schedule-service

  quartz:

    job-store-type: jdbc
    properties:
      org.quartz.scheduler.instanceName: SchedulerService
      org.quartz.scheduler.instanceId: AUTO
      org.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
      org.quartz.jobStore.useProperties: true
      org.quartz.jobStore.tablePrefix: QRTZ_
      org.quartz.jobStore.isClustered: false
      org.quartz.threadPool.threadCount: 5

  datasource:
    url: jdbc:postgresql://localhost:5432/scheduler_service
    username: postgres
    password: kyawzayar
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

#server:
#  servlet:
#    context-path: /api

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
